---
import BaseLayout from '../layouts/BaseLayout.astro';

const pages = import.meta.glob('./**/*.md', { eager: true });

type MarkdownModule = {
  frontmatter: {
    title?: string;
    draft?: boolean;
    date?: string;
  };
};

const urls = Object.entries(pages).map(([path, mod]) => {
  const module = mod as MarkdownModule;

  const url = path
    .replace('./', '/')
    .replace('/index.md', '/')
    .replace('.md', '');

  return {
    url,
    ...module.frontmatter,
  };
});
---

<BaseLayout title="Linuxサークル カンファレンスinfo">
  <h1>TID Linuxサークル カンファレンス掲示板</h1>
  <p>このサイトはTIDのLinuxサークル主催のカンファレンスについての情報を提供します。</p>
  <ul>
    {urls.map((page) => (
      <li>
        <a href={page.url}>{page.title ?? page.url}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
