---
---
<footer>
  <hr />
  <div class="footer_content">
    <div id="copy-right">
      <p>&copy; 2026 Linux Club of TID</p>
    </div>
    <div class="source">
      <a href="https://github.com/linux-club-tid/conference_info" target="_blank" rel="noopener noreferrer">view source</a>
    </div>
    <div class="contact">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMrifgXz6wI7tp8nTB9B4q8NdKAZqFeB2BzWmscnhbLAnqng/viewform?usp=publish-editor" target="_blank" rel="noopener noreferrer">お問い合わせはこちら</a>
    </div>
  </div>
</footer>

<style>
  .footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
</style>
