---

---

<header>
  <nav>
    <a href="/">Top</a>
  </nav>
  <hr />
</header>

<style>
  nav {
    /* a { */
    /*   font-size: 1.5rem; */
    /*   font-weight: bold; */
    /*   color: #333; */
    /*   text-decoration: none; */
    /*   border-radius: 4px; */
    /*   padding: 0.2rem; */
    /* } */
    /* a:hover { */
    /*   background-color: #e0e0e0; */
    /*   cursor: pointer; */
    /* } */

    a {
      color: #007bff; /* 少し鮮やかな青 */
      text-decoration: underline; /* 下線は「押せる」の最強のサイン */
      font-size: 1.2rem;
    }
    a:hover {
      color: #0056b3; /* ホバー時に少し暗くする */
      text-decoration: none; /* ホバーで線を消すと動きが出て良い */
    }
  }
</style>
