---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family:
      "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
      "Noto Sans JP", sans-serif;
    color: #333;
    margin: 1rem 2rem 1rem;

    h1 {
      color: #333;
    }

    h2 {
      color: #444;
      padding-left: 0.2rem;
    }

    p {
      padding-left: 0.6rem;
      color: var(--text);
    }
  }
</style>
